### Importing libraries

In [11]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

### Extracting raw data

In [50]:
interest_points=pd.read_csv('../data/300356-0-monumentos-ciudad-madrid.csv', sep=';',encoding = "ISO-8859-1")

In [51]:
pd.set_option('display.max_columns', None)

In [125]:
bicimad_stations=pd.read_csv('../data/bicimad_stations.csv')

### Cleaning datasets

In [54]:
#Taking only interesting columns
interest_points=interest_points[["NOMBRE","NOMBRE-VIA","CLASE-VIAL","NUM","LATITUD","LONGITUD"]]

In [126]:
bicimad_stations=bicimad_stations[["address","geometry_coordinates","name"]]

In [129]:
bicimad_stations[['LATITUD', 'LONGITUD']] = bicimad_stations['geometry_coordinates'].str.split(',', 1, expand=True)

In [133]:
bicimad_stations["LATITUD"]=bicimad_stations["LATITUD"].str.replace("[","")

/Users/malva/miniconda3/envs/project-m1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [135]:
bicimad_stations["LONGITUD"]=bicimad_stations["LONGITUD"].str.replace("[","")

/Users/malva/miniconda3/envs/project-m1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [116]:
bicimad_stations['LATITUD'] = bicimad_stations['LATITUD'].map(lambda x: x.lstrip('[').rstrip('aAbBcC'))

In [139]:
bicimad_stations['LONGITUD'] = bicimad_stations['LONGITUD'].map(lambda x: x.lstrip(']').rstrip('aAbBcC'))

In [140]:
bicimad_stations

,address,geometry_coordinates,name,LATITUD,LONGITUD
0,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]",Puerta del Sol A,-3.7018341,40.4172137]
1,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]",Puerta del Sol B,-3.701602938060457,40.41731271011562]
2,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]",Miguel Moya,-3.7058415,40.4205886]
3,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]",Plaza Conde Suchil,-3.7069171,40.4302937]
4,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]",Malasaña,-3.7025875,40.4285524]
...,...,...,...,...,...
259,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]",Ciudad Universitaria 1,-3.72699,40.44375]
260,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]",Ciudad Universitaria 2,-3.72693,40.44342]
261,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]",Facultad Biología,-3.7272945,40.4483322]
262,Avenida Complutense nº 23,"[-3.72937, 40.45109]",Facultad Derecho,-3.72937,40.45109]
263,Calle Zurbano nº 90,"[-3.69281, 40.43837]",Zurbano,-3.69281,40.43837]