### Importing libraries

In [2]:
import numpy as np
import pandas as pd

### Extracting raw data

In [40]:
interest_points=pd.read_csv('../data/300356-0-monumentos-ciudad-madrid.csv', sep=';',encoding = "ISO-8859-1")

In [29]:
pd.set_option('display.max_columns', None)

In [30]:
interest_points.head()

,PK,NOMBRE,SUBTIPO,DESCRIPCION,FECHA,AUTORES,PDF,CONTENT-URL,NOMBRE-VIA,CLASE-VIAL,TIPO-NUM,NUM,PLANTA,PUERTA,ESCALERAS,ORIENTACION,LOCALIDAD,PROVINCIA,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 29
0,409634,A las víctimas del Holocausto,Escultura conceptual o abstracta,"La obra, creada por el escultor judío de orige...",2005,"NAHÓN BENGIO, Samuel - STISIN, Alberto",https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,TRES CULTURAS,JARDIN,T,NaN,NaN,NaN,NaN,NaN,MADRID,MADRID,NaN,NaN,DISTRITO,448830.0,4479469.0,40.464322,-3.603558,NaN,NaN,NaN,NaN,
1,409512,A los Abuelos,Grupo Escultórico,"Pequeña escultura, situada en un parque delimi...",1994,"M., Esther",https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,Alicún,C,V,NaN,NaN,NaN,NaN,NaN,MADRID,MADRID,NaN,APÓSTOL SANTIAGO,HORTALEZA,443913.0,4481224.0,40.479812,-3.661719,NaN,NaN,NaN,NaN,
2,408781,A Neruda-El Ser alado,Estatua,Monumento dedicado al escritor Pablo Neruda (1...,1988,"QUETGLÁS, Matías",https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,José Luis Ozores,Gta,V,116,NaN,NaN,NaN,NaN,MADRID,MADRID,NaN,PORTAZGO,PUENTE DE VALLECAS,444621.0,4470345.0,40.381855,-3.652419,NaN,NaN,NaN,NaN,
3,408836,Abogados Laboristas,"Elemento conmemorativo, Lápida",El 24 de enero de 1977 se produjo un atentado ...,1987,"ROLDÁN PASCUAL, Joaquín",https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,Atocha,C,V,55,NaN,NaN,NaN,NaN,MADRID,MADRID,NaN,CORTES,CENTRO,440608.0,4473823.0,40.412911,-3.700017,NaN,NaN,NaN,NaN,
4,408920,Abstracta I,Escultura conceptual o abstracta,"La histórica quinta de la Fuente del Berro, de...",1992,"GONZÁLEZ CALISAVO, Fernando",https://patrimonioypaisaje.madrid.es/FrameWork...,https://patrimonioypaisaje.madrid.es/sites/v/i...,NaN,NaN,V,NaN,NaN,NaN,NaN,NaN,MADRID,MADRID,NaN,FUENTE DEL BERRO,SALAMANCA,443926.0,4474987.0,40.421746,-3.662293,NaN,NaN,NaN,NaN,

In [18]:
bicimad_stations=pd.read_csv('../data/bicimad_stations.csv')

In [19]:
bicimad_stations.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,geometry_coordinates
0,1,Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,15,11,0,Point,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,22,4,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,11,0,Point,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,0,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,4,11,0,Point,"[-3.7069171, 40.4302937]"
4,5,Malasaña,2,4,Calle Manuela Malasaña nº 5,1,0,24,12,12,0,Point,"[-3.7025875, 40.4285524]"

### Cleaning datasets

In [41]:
#Taking only interesting columns
interest_points=interest_points[["NOMBRE","NOMBRE-VIA","CLASE-VIAL","NUM","LATITUD","LONGITUD"]]

In [42]:
interest_points

,NOMBRE,NOMBRE-VIA,CLASE-VIAL,NUM,LATITUD,LONGITUD
0,A las víctimas del Holocausto,TRES CULTURAS,JARDIN,NaN,40.464322,-3.603558
1,A los Abuelos,Alicún,C,NaN,40.479812,-3.661719
2,A Neruda-El Ser alado,José Luis Ozores,Gta,116,40.381855,-3.652419
3,Abogados Laboristas,Atocha,C,55,40.412911,-3.700017
4,Abstracta I,NaN,NaN,NaN,40.421746,-3.662293
...,...,...,...,...,...,...
1843,XXV aniversario Colegio Mayor Argentino,Martín Fierro,C,NaN,40.436127,-3.731997
1844,XXV aniversario Colegio Mayor Argentino,Martín Fierro,C,NaN,40.436100,-3.732009
1845,Yawar Fiesta,NaN,NaN,NaN,NaN,NaN
1846,'Sin título',NaN,NaN,NaN,NaN,NaN
1847,'Sin título',NaN,NaN,NaN,NaN,NaN

In [53]:
#Lower case
interest_points["CLASE-VIAL"]=interest_points["CLASE-VIAL"].str.lower()

In [38]:
interest_points["Place address"] = interest_points["CLASE-VIAL"] + " " +interest_points["NOMBRE-VIA"]

/Users/malva/miniconda3/envs/project-m1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
interest_points["Place address"]

0       JARDIN TRES CULTURAS
1                   C Alicún
2       Gta José Luis Ozores
3                   C Atocha
4                        NaN
                ...
1843         C Martín Fierro
1844         C Martín Fierro
1845                     NaN
1846                     NaN
1847                     NaN
Name: Place address, Length: 1848, dtype: object

In [ ]:
df = df.rename(columns={'NOMBRE': 'Place of interest', 'oldName2': 'newName2'})

In [ ]:
Place of interest,Type of place=Monumentos de la ciudad de Madrid,Place address,BiciMAD station,Station location